
<div class="rb-faq-shopify-section">
    <div class="rb-faq-layout">
        <h1 style="text-align: center; padding: 20px 20px 0px 20px;"> {{ section.settings.heading }} </h1>
        {% if section.settings.faq_description %}
            <div class="rte faq-description">
                {{ section.settings.faq_description }}
            </div>
        {% endif %}
        <div class="rb-faq-container">   
            {%for block in section.blocks %}
            <div class="rb-faq-container-item">
                <input style="display:none!important;" type="checkbox" id="tab{{forloop.index}}" class="tab-toggle">
                <label for="tab{{forloop.index}}" class="rb-faq-question">{{block.settings.question}}</label>
                <div class="rb-faq-answer">{{block.settings.answer}}</div>
            </div>  
            {% endfor %}
        </div> 
    </div>
</div>  

{% style %}



  .rb-faq-shopify-section {
    padding-right:30px;
    padding-left:30px;
	margin-bottom:50px;
    border: 2px solid red;
  }

  .rb-faq-container {
      margin:auto;
      max-width:1000px;
  }

  .rb-faq-container-item {
		border-radius: 8px;
		margin-bottom:10px;
        overflow: hidden;
  }

.rb-faq-question::after {
    color: {{ section.settings.icon-color }};
    content: '\002B'; /* Unicode for plus sign */
    transition: all 0.2s ease;
}


  .rb-faq-question {
	  border-radius: 8px;
      display:flex !important;
      justify-content: space-between;
	  background-color:{{section.settings.background-color}};
      padding:15px 20px;
      font-weight: bold;
	  color: {{section.settings.question-color}};
	  font-size: {{section.settings.questions-font-size}}rem;
  }

  .rb-faq-question:hover {
		color: {{section.settings.hover-color}};
	
	}

  .rb-faq-answer {
		padding: 0px 20px;
		position: relative;
        width: 100%;
        height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        will-change: height;
		transform: translateY(25px);
        transition: all .2s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;	
  }

  .tab-toggle:checked ~ .rb-faq-answer {
	transform: translateY(0);
	padding: 15px 20px;
	height:auto;
	opacity: 1;
    overflow: unset;
    visibility: visible;
    transition: all .3s ease,opacity 1s ease,height .3s ease;
  }

  .tab-toggle:checked ~ .rb-faq-question::after {
		transform: rotate(90deg);
  }

  .tab-toggle{
		display:none;
  }

{% endstyle %}


{% schema %}
    {
        "name": "Faq",
        "presets" : [
            {
                "category":"Custom sections",
                "name":"Faq"
            }
        ],
        "settings": [
        {
            "type":"text",
            "label":"Heading",
            "id":"heading"
        },
        {
            "type": "text",
            "label": "FAQ Description",
            "id": "faq_description"
        },
        {
            "type":"color",
            "label":"Icon color",
            "id":"icon-color",
            "default":"#000000"
        },
        {
            "type":"color",
            "label":"Question hover color",
            "id":"hover-color",
            "default":"#000000"
        },
        {
            "type":"color",
            "label":"Question color",
            "id":"question-color",
            "default":"#000000"
        },
        {
            "type":"color",
            "label":"Background color",
            "id":"background-color",
            "default":"#ffffff"
        },
        {
            "type":"range",
            "id":"questions-font-size",
            "label":"Questions font size",
            "default":1.5,
            "min":0.8,
            "max":3.0,
            "step":0.1
        }
        ],
        "blocks":	[
        {
            "type":"text",
            "name":"Questions/Answer",
            "settings": [
            {
                "type":"text",
                "label":"Question",
                "id":"question"
            },
            {
                "type":"richtext",
                "label":"Answer",
                "id":"answer"
            }

        ]
        
        }

        ]
      }
    {% endschema %}